{ 
    appspace         : 'app.' , 
    socketRoot       : '/tmp/' , 
    id               : os . hostname ( ) , 
    networkHost      : 'localhost' ,  //должен разрешаться в 127.0.0.1 или ::1, см. таблицу ниже, относящуюся к этому 
    networkPort      : 8000 , 
    readableAll      : false , 
    writableAll      : false , 
    encoding         : 'utf8' , 
    rawBuffer        : false , 
    delimiter        : '\f' , 
    sync             : false , 
    silent           : false , 
    logInColor       : true , 
    logDepth         : 5 , 
    logger           : console . log , 
    maxConnections   : 100 , 
    retry            : 500 , 
    maxRetries       : false , 
    stopRetrying     : false , 
    unlink           : true , 
    interfaces       : { 
        localAddress : false , 
        localPort    : false , 
        family       : false , 
        hints        : false , 
        lookup       : false 
    } 
}